@media (max-width: 768px) {
    .sectionPadding {
        padding: 0 15px;
    }
}

@media (max-width: 576px) {
    .hallFameBoxSpace {
        padding: 0 5px;
    }

    .hallFameSlider .slick-list {
        padding: 0 20px 40px 0 !important;
    }

    .userFeedbackForm {
        padding: 15px;
    }

    .userName p {
        font-size: 12px;
    }

    .hallFameSlider .slick-prev {
        right: 73px;
    }

    .hallFameSlider .slick-next {
        right: 12px;
    }
}